.calendarContainer {
    width: 100%;
    padding: 20px;
    background-color: #ffffff;  /* 흰색 배경 */
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;  /* Ensure padding is included in the total width and height */
  }
  
  .calendar {
    width: 100%;
    height: calc(100vh - 260px);  /* Adjust height to fit within the container, accounting for other elements */
    max-height: 600px;  /* Add a max-height to avoid the calendar from being too large */
  }
  
  .rbc-calendar {
    background-color: #ffffff;  /* 흰색 배경 */
  }
  
  .rbc-event {
    background-color: #4C728D !important;  /* 이벤트 배경색 설정 */
    color: #FFFFFF !important;  /* 텍스트 색상 */
    border: none !important;  /* 테두리 제거 */
    border-radius: 5px !important;
    opacity: 0.8 !important;
  }
  
  .rbc-toolbar {
    background-color: #ffffff !important;  /* 흰색 배경 */
    color: #2E4453 !important;  /* 진한 청회색 텍스트 */
  }
  
  .rbc-month-view, .rbc-header {
    background-color: #ffffff !important;  /* 흰색 배경 */
    color: #2E4453 !important;  /* 진한 청회색 텍스트 */
  }
  
  .rbc-month-view .rbc-row {
    border-color: #D1E3F0 !important;  /* 연한 청회색 테두리 */
  }
  
  .rbc-date-cell, .rbc-off-range-bg, .rbc-off-range {
    background-color: #ffffff !important;  /* 흰색 배경 */
    color: #2E4453 !important;  /* 진한 청회색 텍스트 */
  }
  
  .rbc-date-cell:hover {
    background-color: #E8F0F7 !important;  /* 연한 청회색 호버 효과 */
  }
  